
html {
-ms-touch-action: manipulation;
touch-action: manipulation;
}

.container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  padding: 0;
  font-family: Raleway;
}

.navbar {
  border-radius: 0px;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 300px) {
  .main-image {
    display: show;
  }

  .column {
    width: 50%;
  }
  .navbar {
    width: 100%;
    margin-bottom: 0px;
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
  }
  .footer .button {
    border: 0;
    height:50px;
    font-size: 14px;
    text-align: center;
    padding-top: 8px;
  }

  #logo-text {
    position: absolute;
    top:5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    width: 80%;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 20px;

  }

  #logo-text sup {
    font-size: 10px;
    margin-bottom:25px;
  }

    #sub-text {
    position: absolute;
    top:17%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 5%;
    width: 80%;
    padding: 10px;
    color: white;
    text-align: center;

  }

  #instruments {
    position: absolute;
    top:25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 55%;
    width: 80%;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
  }

  #instruments table {
    text-shadow: none;
    color: aliceblue;
  }

  #instruments a {
    color: azure;
  }


  #instrument-img {
    width: 50px;
    height: 50px;
    position: relative;
    left: 60%;
  }

#instruments td {
  position: relative;
}
.instrument-text {
    position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

  .content {
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
  }

  #banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #sub-text {
     padding-top: 30px;
     font-size: 14px;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    #sub-text {
     padding-top: 30px;
     font-size: 14px;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    #sub-text {
     padding-top: 30px;
     font-size: 14px;
    }

}